<div class="col-md-12">Habilidade:</div>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="col-md-12">Nome:</div>
        <input class="form-input col-md-12" type="text" [(ngModel)]="habilidade.nome">
    </div>

    <div class="col-md-6">
        <div class="col-md-12">Descrição:</div>
        <input class="form-input col-md-12" type="text" [(ngModel)]="habilidade.descricao">
    </div>
</div>
<div class="col-md-12">
    <button class="btn btn-success" (click)="salvar()" [disabled]="disabled()" >salvar</button>
</div>