<div class="col-md-12">
    <button id="btCadastrar" class="btn btn-success">Registrar Pokemon</button>
</div>
<div class="col-md-12">
    <div class="col-md-12" *ngFor="let pokemon of pokemons.conteudo">
        <div class="col-md-2">
            {{pokemon.id}}
        </div>
        <div class="col-md-7">
            {{pokemon.nome}}
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary"(click)="visualizar(pokemon)">Visualizar</button>
        </div>
    </div>
</div>